<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
<!-- Extends the layout from /views/layout.html -->
{% extends 'layouts/layout-transactional.html' %}
{% from 'details/macro.njk' import details %}
{% from 'radios/macro.njk' import radios %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Are you sure you want to remove the document?- Submit a request to NHS Recruitment Services - NHSBSA
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}

{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}


<div >
  {{ backLink({
      "href": "javascript:history.go(-1)",
      "text": "Go back"
    }) }}
  </div>
  <div class="nhsuk-grid-row" >
    <div class="nhsuk-grid-column-two-thirds">
 
      <form method="post" action="">

      <div class="nhsuk-form-group"style="padding-top: 0px;">

        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              <span class="nhsuk-caption-l nhsuk-caption--bottom">Change details</span>
              Are you sure you want to remove the document?            </h1>
          </legend>

          <div class="nhsuk-inset-text">
            <span class="nhsuk-u-visually-hidden">Information: </span>
            <p>Term time working form.PDF (PDF, 123KB)</p>
          </div>
    

      <div class="nhsuk-form-group">
      <div class="nhsuk-radios nhsuk-radios--inline">

        <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="doc-added1" onclick="setLocation(this);">
          <label class="nhsuk-label nhsuk-radios__label" for="example-inline-1">
            Yes
          </label>
        </div>
  
        <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="example-inline-2" name="example-inline" type="radio" value="doc-added" onclick="setLocation(this);">
          <label class="nhsuk-label nhsuk-radios__label" for="example-inline-2">
            No
          </label>
        </div>
  
      </div>
    </div>
    </fieldset>
  



  </div>


  {{ button({
    "text": "Continue"
  }) }}
</form>
  </div>
  </div>

  <script>
    function setLocation(element) {
            document.forms[0].action = element.value
    }
  </script>
      
      {% endblock %}