<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layouts/layout-transactional.html' %}
{% from 'details/macro.njk' import details %}
{% from 'button/macro.njk' import button %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
what type of change do you want to make? - Submit a request to NHS Recruitment Services - NHSBSA
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}


<div >
  {{ backLink({
      "href": "javascript:history.go(-1)",
      "text": "Go back"
    }) }}
  </div>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

     <form method="post" action="">

      <div class="nhsuk-form-group">

        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              <span class="nhsuk-caption-l nhsuk-caption--bottom">Change details</span>
             What type of change do you want to make?
            </h1>
          </legend>

          
      
          <div class="nhsuk-radios">
      
              

            <div class="nhsuk-hint nhsuk-u-margin-bottom-2">
              Select one option
            </div>



            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="date-of-absence" onclick="setLocation(this);">
              <label class="nhsuk-label nhsuk-radios__label" for="example-inline-1">
                Absence removal
              </label>
              <div class="nhsuk-hint nhsuk-radios__hint" id="example-hints-1-item-hint">
                Includes sickness, annual leave and annual leave amendments 
              </div>
            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="type-of-allowance" onclick="setLocation(this);">
              <label class="nhsuk-label nhsuk-radios__label" for="example-inline-1">
                Allowances
              </label>
              <div class="nhsuk-hint nhsuk-radios__hint" id="example-hints-1-item-hint">
                Includes all allowances
              </div>
            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="new-position-number" onclick="setLocation(this);">
              <label class="nhsuk-label nhsuk-radios__label" for="example-inline-1">
                Band or grade
              </label>
              <div class="nhsuk-hint nhsuk-radios__hint" id="example-hints-1-item-hint">
                Includes grade and promotions
              </div>
            </div>
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-inline-2" name="example-inline" type="radio" value="new-cost-centre" onclick="setLocation(this);">
              <label class="nhsuk-label nhsuk-radios__label" for="example-inline-2">
                Cost centre
              </label>
            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-inline-2" name="example-inline" type="radio" value="effective-date-of-change" onclick="setLocation(this);">
              <label class="nhsuk-label nhsuk-radios__label" for="example-inline-2">
                Extension of probation
              </label>
            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="future-date-change" onclick="setLocation(this);">
              <label class="nhsuk-label nhsuk-radios__label" for="example-inline-1">
                Future date changes
              </label>
            </div>

            <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="hours" onclick="setLocation(this);">
                <label class="nhsuk-label nhsuk-radios__label" for="example-inline-1">
                  Hours
                </label>
                <div class="nhsuk-hint nhsuk-radios__hint" id="example-hints-1-item-hint">
                  Includes term-time working, flexible working and annualised hours                </div>
              </div>
        

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="./doc-upload/doc-upload" onclick="setLocation(this);">
                <label class="nhsuk-label nhsuk-radios__label" for="example-inline-1">
                  Maternity, Paternity, Shared Parental or Adoption leave details
                </label>
              </div>

        
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="example-inline-2" name="example-inline" type="radio" value="effective-date-of-change" onclick="setLocation(this);">
                <label class="nhsuk-label nhsuk-radios__label" for="example-inline-2">
                  Pay and pay step point
                </label>
                <div class="nhsuk-hint nhsuk-radios__hint" id="example-hints-1-item-hint">
                  Includes changes to pay step point, personal salaries and career progression
                </div>
              </div>


            <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="unpaid-career-break" onclick="setLocation(this);">
                <label class="nhsuk-label nhsuk-radios__label" for="example-inline-1">
                  Unpaid leave or career break
                </label>
              </div>
        
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="additional-info" onclick="setLocation(this);">
                <label class="nhsuk-label nhsuk-radios__label" for="example-inline-1">
                  Other
                </label>
                <div class="nhsuk-hint nhsuk-radios__hint" id="example-hints-1-item-hint">
                  Includes Visa details, New Starter forms, and the upload of documents unrelated to listed changes               </div>
              </div>
        
        

          </div>
        </fieldset>
      
      </div>

      {{ button({
        "text": "Continue"
      }) }}


    

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
    </form>
    </div>
    </div>


    <script>
        function setLocation(element) {
                document.forms[0].action = element.value
        }
      </script>

      
      {% endblock %}