<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layouts/layout-transactional.html' %}
{% from 'details/macro.njk' import details %}
{% from 'button/macro.njk' import button %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Contact the NHSBSA
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>
       Change request 
      </h1>

      <p class="nhsuk-body">
        This portal allows you to request changes to the HR records of your employees.
      </p>


      <p class="nhsuk-body">
        <a href="https://nhsbsa-live.powerappsportals.com/knowledgebase/article/KA-24877/en-us" target="_blank">Some changes can be made in Manage Self-Service (MSS) (opens in new tab)</a>. You should attempt to make these changes in MSS before submitting a request via the portal.
      </p>

      <p class="nhsuk-body">Changes that can be made via the portal:</p>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>all allowances</li>
        <li>grade</li>
        <li>change to pay step point</li>
        <li>change to personal salary</li>
        <li>unpaid leave</li>
        <li>career break</li>
        <li>promotions</li>
        <li>term time working</li>
        <li>flexible working</li>
        <li>maternity, paternity, shared parental or adoption leave details</li>
        <li>Extension of probation</li>
        <li>removal of absence (sickness or annual leave etc)</li>
        <li>annual leave amendments</li>
        <li>career progression</li>
      </ul>
      

      <p class="nhsuk-body">
        HRSS will retain responsibility for contractors and flexi-retirement. 
      </p>

      {{ button({
        "text": "Start",
        "href": ".//employee-details/name"
      }) }}

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->


</div>
</div>


      
      {% endblock %}