<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layouts/layout-logged-in.html' %}
{% from 'details/macro.njk' import details %}
{% from 'radios/macro.njk' import radios %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Check your answers - Submit a request to NHS Recruitment Services - NHSBSA
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}

{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}


<div >
  {{ backLink({
      "href": "javascript:history.go(-1)",
      "text": "Go back"
    }) }}
  </div>
  <div class="nhsuk-grid-row" >
    <div class="nhsuk-grid-column-two-thirds">

        <form action="task-list-empty-number" method="“post”" autocomplete="off">

            <h1 class="nhsuk-label-wrapper"  style="margin-bottom: 10%;">
              <label class="nhsuk-label nhsuk-label--l" for="specify-immigration-status">
                Check your answers
              </label>
            </h1>

            <h2 class="nhsuk-heading-m">Employee details</h2>

          <dl class="nhsuk-summary-list nhsuk-!-margin-bottom-9"  style="margin-bottom: 10%;">
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
              Name
              </dt>
              <dd class="nhsuk-summary-list__value">
              Miss<br>
              Jane <br>
              Doe
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a class="nhsuk-link" href="./employee-details/name">
                  Change<span class="nhsuk-u-visually-hidden">The employee's name</span>
                </a>
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Current position number
              </dt>
              <dd class="nhsuk-summary-list__value">
                22123456
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a class="nhsuk-link" href="./employee-details/current-position-no">
                  Change<span class="nhsuk-u-visually-hidden">The employee's current position number </span>
                </a>
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Payroll number
                </dt>
                <dd class="nhsuk-summary-list__value">
                  
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a class="nhsuk-link" href="./employee-details/payroll-number">
                    Change<span class="nhsuk-u-visually-hidden">The employee's payroll number</span>
                  </a>
                </dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Current job title 
                </dt>
                <dd class="nhsuk-summary-list__value">
                Interaction designer
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a class="nhsuk-link" href="./employee-details/current-job-title">
                    Change<span class="nhsuk-u-visually-hidden">The employee's current job title</span>
                  </a>
                </dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Current cost centre
                </dt>
                <dd class="nhsuk-summary-list__value">
                  91412S5FA
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a class="nhsuk-link" href="./employee-details/current-cost-centre">
                    Change<span class="nhsuk-u-visually-hidden">The employee's current cost centre</span>
                  </a>
                </dd>
              </div>
              </dl>

              <h2 class="nhsuk-heading-m">Change request details</h2>

              <dl class="nhsuk-summary-list nhsuk-!-margin-bottom-9"  style="margin-bottom: 10%;">
                <div class="nhsuk-summary-list__row">
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Type of change
                </dt>
                <dd class="nhsuk-summary-list__value">
                Other
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a class="nhsuk-link" href="change-type">
                    Change<span class="nhsuk-u-visually-hidden">The type of change</span>
                  </a>
                </dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Change your making
                </dt>
                <dd class="nhsuk-summary-list__value">
                  Uploading a new starter form
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a class="nhsuk-link" href="additional-info">
                    Change<span class="nhsuk-u-visually-hidden">The change your making </span>
                  </a>
                </dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Documents to upload
                </dt>
                <dd class="nhsuk-summary-list__value">
                  Yes
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a class="nhsuk-link" href="doc-to-upload">
                    Change<span class="nhsuk-u-visually-hidden">If there are documents to upload </span>
                  </a>
                </dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  New starter form
                </dt>
                <dd class="nhsuk-summary-list__value">
                  Yes
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a class="nhsuk-link" href="new-starter-form">
                    Change<span class="nhsuk-u-visually-hidden">If it's a new starter form </span>
                  </a>
                </dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Documents uploaded
                </dt>
                <dd class="nhsuk-summary-list__value">
               New starter form.PDF (PDF, 123KB)
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a class="nhsuk-link" href="doc-upload/doc-added">
                    Change<span class="nhsuk-u-visually-hidden">The documents uploaded  </span>
                  </a>
                </dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Effective change date
                </dt>
                <dd class="nhsuk-summary-list__value">
                25 August 2022
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a class="nhsuk-link" href="effective-date-of-change">
                    Change<span class="nhsuk-u-visually-hidden">The effective change date  </span>
                  </a>
                </dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Temporary arrangement 
                </dt>
                <dd class="nhsuk-summary-list__value">
                No
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a class="nhsuk-link" href="temp-arrangement">
                    Change<span class="nhsuk-u-visually-hidden">If temporary arrangement</span>
                  </a>
                </dd>
              </div>
       
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Additional information added
                </dt>
                <dd class="nhsuk-summary-list__value">
               No
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a class="nhsuk-link" href="note-needed">
                    Change<span class="nhsuk-u-visually-hidden">Additional information added</span>
                  </a>
                </dd>
              </div>
             <!-- <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Additional information
                </dt>
                <dd class="nhsuk-summary-list__value">
                Change from full-time hours to part-time 
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a class="nhsuk-link" href="#">
                    Change<span class="nhsuk-u-visually-hidden">change</span>
                  </a>
                </dd>
              </div>
             <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Documents added
                </dt>
                <dd class="nhsuk-summary-list__value">
                    Council tax statement.PDF (PDF, 123KB)
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a class="nhsuk-link" href="#">
                    Change<span class="nhsuk-u-visually-hidden">change</span>
                  </a>
                </dd>
              </div>-->
              </div>
              </dl>

              <h2 class="nhsuk-heading-m">Line manager details</h2>

              <dl class="nhsuk-summary-list nhsuk-!-margin-bottom-9"  style="margin-bottom: 10%;">
                <div class="nhsuk-summary-list__row">
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                 Name
                </dt>
                <dd class="nhsuk-summary-list__value">
                John Smith 
                </dd>
                <dd class="nhsuk-summary-list__actions" >
                  <a class="nhsuk-link" href="./line-manager-auth/name">
                    Change<span class="nhsuk-u-visually-hidden">The line manager's name</span>
                  </a>
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Job title
                </dt>
                <dd class="nhsuk-summary-list__value">
                    Team manager
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a class="nhsuk-link" href="./line-manager-auth/job-title">
                    Change<span class="nhsuk-u-visually-hidden">The line manager's job title</span>
                  </a>
                </dd>
              </div>

           
              
         

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                 Email address
                </dt>
                <dd class="nhsuk-summary-list__value">
                    john.smith@nhs.net
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a class="nhsuk-link" href="./line-manager-auth/email">
                    Change<span class="nhsuk-u-visually-hidden">The line manager's email address</span>
                  </a>
                </dd>
              </div>
              </div>
          </dl>


                                  





      

        <br>
     

  {{ button({
    "text": "Submit",
    "href": "confirmation"
  }) }}
</form>
  </div>
  </div>
  <script>
    function setLocation(element) {
            document.forms[0].action = element.value
    }
  </script>

      
      {% endblock %}