{% extends 'layouts/layout.html' %}

{% block pageTitle %}
Sorry, the service is unavailable - Submit a request to NHS Recruitment Services - NHSBSA 
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-5">
            Sorry, the service is unavailable
        </h1>

        <p>
          You will be able to use the service from 9am on Tuesday 2 May 2023.
        </p>

        <p>
            If you need to speak to somebody about your request, you can contact us by:
        </p>

        <div class="nhsuk-inset-text nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">

            <ul class="nhsuk-list">
              <li>Telephone: 0123 456 7890</li>
              <li>This phoneline is available Monday to Friday, 8am to 6pm (except public holidays).</li>
            </ul>
            
            <p>
              <a class="nhsuk-link" href="https://www.nhsbsa.nhs.uk/contact-us/call-charges-and-phone-numbers" target="_blank">Find out about call charges</a>
            </p>

            <ul class="nhsuk-list">
              <li>Email: <a class="nhsuk-link" href="mailto:email@domain.com">email@domain.com</a></li>
              <li>We aim to respond to your email within 2 working days.</li>
            </ul>

        </div>

    </div>
</div>

{% endblock %}