<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layouts/layout-transactional.html' %}
{% from 'details/macro.njk' import details %}
{% from 'button/macro.njk' import button %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Document upload service 
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
    
      <h1 class="nhsuk-heading-l">
        What is the employee's name?
      </h1>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="select-1">
          Title
        </label>
        <select class="nhsuk-select" id="select-1" name="select-1">
          <option value="1">Mr</option>
          <option value="2" selected>Mrs</option>
          <option value="3" disabled>Miss</option>
          <option value="3" disabled>Ms</option>
          <option value="1">Mx</option>
          <option value="2" selected>Dr</option>
          <option value="3" disabled>Prof</option>
          <option value="3" disabled>Baron</option>
          <option value="1">Baroness</option>
          <option value="2" selected>Brother</option>
          <option value="3" disabled>Canon</option>
          <option value="3" disabled>Dame</option>
          <option value="1">ather</option>
          <option value="2" selected>Imam</option>
          <option value="3" disabled>Lady</option>
          <option value="3" disabled>Lord</option>
          <option value="1">Major</option>
          <option value="2" selected>Nurse</option>
          <option value="3" disabled>Rabbi</option>
          <option value="3" disabled>Reverend</option>
          <option value="1">Right reverend monsigneur</option>
          <option value="2" selected>Mrs</option>
          <option value="3" disabled>Sir</option>
          <option value="3" disabled>Sister</option>
        </select>
      </div>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="input-width-20">
          First name
        </label>
        <input class="nhsuk-input nhsuk-input--width-20" id="input-width-20" name="test-width-20" type="text">
      </div>
     
    

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="input-width-20">
          Last name
        </label>
        <input class="nhsuk-input nhsuk-input--width-20" id="input-width-20" name="test-width-20" type="text">
      </div>
     

    

      {{ button({
        "text": "Continue",
        "href": "current-position-no"
      }) }}


     


      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

    </div>
    </div>




      
      {% endblock %}