<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layouts/layout.html' %}
{% from 'details/macro.njk' import details %}
{% from 'button/macro.njk' import button %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Forgot password - Submit a request to NHS Recruitment Services - NHSBSA
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div >
    {{ backLink({
        "href": "javascript:history.go(-1)",
        "text": "Go back"
      }) }}
    </div>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form class="form" method="post">
      <!-- Change the page title here -->
      <h1 class="nhsuk-heading-l">
       Forgot your password?
      </h1>


      <p class="nhsuk-body">We’ll send you an email to create a new password.</p>
 
      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="emailAddress">
          Email address
        </label>
        <p class="nhsuk-hint"> Enter the email address associated with your NHS Recruitment Services account</p>
        <input class="nhsuk-input" id="email-address" name="emailAddress" type="email" spellcheck="false" autocomplete="email">
    
      </div>

     

  
    

      {{ button({
        "text": "Send email",
        "href": "forgot-password-confirmation"   
      }) }}
      </form>



      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
 
    </div>
    </div>




      
      {% endblock %}