<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layouts/layout-transactional.html' %}
{% from 'details/macro.njk' import details %}
{% from 'button/macro.njk' import button %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
What is the new position number? - Submit a request to NHS Recruitment Services - NHSBSA
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div >
  {{ backLink({
      "href": "javascript:history.go(-1)",
      "text": "Go back"
    }) }}
  </div>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
    

    
      <div class="nhsuk-form-group">
        <h1 class="nhsuk-label-wrapper">
          <span class="nhsuk-caption-l nhsuk-caption--bottom">Change details</span>
            <label class="nhsuk-label nhsuk-label--l" for="example-heading">
              What is the new position number?
            </label>
          </h1>

          <p>
            You do not need to provide the employee's band details.
          </p>

          <div class="nhsuk-hint" id="example-with-hint-text-hint">
            For example, 22123456
          </div>
        <input class="nhsuk-input nhsuk-input--width-20" id="input-width-20" name="test-width-20" type="text">
      </div>
     

      {{ button({
        "text": "Continue",
        "href": "effective-date-of-change"
      }) }}


     


      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

    </div>
    </div>




      
      {% endblock %}